#user-details {
	overflow : hidden;
	padding-bottom:50px;
	padding-top: 5px;
}
#profile-img {
	float : left;
	overflow : hidden;
	width: 240px;
	margin-top: 15px;
}
#profile-img img{
	width : 100px;
	padding-right : 15px;
}
#profile-info {
	float: left;
	width: 240px;
	max-width: 85%;
}
#profile-info .ui-state-default{
	font-size : 25px;
	border : none;
	margin : 0;
}

#eval-info {
	float: right;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
	max-width: 85%;
	background-color: #FFCC2A;
	padding-bottom:10px;
	padding-top: 10px;
	padding-right:10px;
	padding-left: 10px;
	border-color: #FFF;
}
#eval-info-label{
	font-size : 25px;
	border : none;
	margin : 5;
}

a.selectbox-link {
    float: left;
    margin-right: 5px;
}
#dropdowns{
	overflow: hidden;
	padding-bottom: 10px;
}
#userStats {
	margin-top: 10px;
	float: right;
	overflow: hidden;
	width: 240px;
}
#userStats .stats {
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    width: 70px;
    padding-left: 10px;
}
#lessons-div {
	background: none repeat scroll 0 0 #E0E0E0;
}
#lesson-table {
	border-collapse: collapse;
}
.button-link{
	font-size:1em;
}
#student-div{
	clear:both;
	padding-top:50px;
}
table.dataTable tr.incomplete td.last-column{
    background-color: #FFFF99;
}
table.dataTable tr.complete td.last-column{
    background-color: #BBFFAD;
}