{% extends "account/base.html" %}

{% block head %}
  <link href="/media/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/media/css/jquery-ui.css" rel="stylesheet"  type="text/css"/>
  <!--<script src="/media/js/jquery-1.6.js"></script>-->
  <script src="/media/js/jquery.1.6.1.min.js"></script>
  <script src="/media/js/jquery-ui.min.js"></script>
  <script src="/media/js/jquery.validate.js"></script>
  <script src="/media/js/nmma.js"></script>
  <script src="/media/js/ou.js"></script>
{% endblock %}

{% block menu %}
<div id="wrapper">
	<div id="header-container">
    	<div id="logo" class="left"><img src="/media/img/ou.jpg" alt="Khanlig Logo"/></div>
        <div id="top-toolbar" class="right">
        	<div id="geeting" class="left">Hello: </div> <div class="red-to-black-edge"></div>
        	<div id="top-menu" class="right">
        	  <ul>
                <li id="login"><a href="#Login" onclick="openDialog('logindialog');">Login</a></li>
				<li id="account"><a href="#Account" onclick="account();">Account</a></li>
                <li><a href="javascript:;">Help</a></li>
                <li><a href="javascript:;">Contact</a></li>
                <li id="logout"><a href="#Logout" onclick="logout('/accounts/logout/');">Logout</a></li>
      	      </ul>
        	</div> <!-- end top menu -->
        </div> <!-- end top toolbar -->
    </div> <!-- end header container -->
	
	<script type="text/javascript">	
		$(document).ready(function(){
			nmma.hide($('body'));
			nmma.history({
				url:""
			});
			nmma.init();
			initDialog('logindialog','/accounts/register/');
	});
	</script>

	<div id="main-container">
		    <div id="logindialog" title="Нэвтрэх/бүртгүүлэх" />
    </div> <!-- end main container-->
	
</div> <!-- end wrapper -->
{% endblock %}

<!-- start of home -->
{% block content %}
<div id="topic_container">
    <div id="left">
        <div id="video_container">
            <div id="video" style="">
            </div>
            <div id="functions" style="">
            </div>
        </div>

        <div id="description_container">
            <p id="description">
            </p>
            <a>
                <img></img>
            </a>
        </div>
        
        <div id="related_videos_container">
            <em> </em>
            <div id="video">
                <a>
                    <img></img>
                </a>
            </div>
            <div id="video">
                <a>
                    <img></img>
                </a>
            </div>
            <div id="video">
                <a>
                    <img></img>
                </a>
            </div>
            <div id="video">
                <a>
                    <img></img>
                </a>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="badge_container" class="margin_top_bot">
        </div>
        <div id="exercise_container" class="margin_top_bot">
        </div>
        <div id="textbook_container" class="margin_top_bot">
        </div>
    </div>
</div>
<!-- end of home -->
{% endblock %}
