
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
	background:#eee;
    max-width:960px;
	max-width:960px;
    height:461px;
	position:relative;
	margin:0 auto;
	top:-44px;

}

#slider {
	position:relative;
    width:968px;
    height:441px;
	background:url(../../img/slider/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
	visibility:hidden;
}


.nivo-directionNav a {
	display:block;
	width:43px;
	height:30px;
	background:url(../../img/slider/arrow.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-43px 0;
	right:383px;
}
a.nivo-prevNav {
	left:500px;
}

.nivo-caption {
    text-shadow:none;
    padding:10px 0 30px 5px;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;

}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}