{% extends "base-moderator.html" %}
{% load i18n %}
{% load translate %}
{% load pagination_tags %}

{% block title %}
NomadEDU - {% trans "Exercise" %} - {% t9n c "name" %}
{% endblock %}
{% block js %}
<script type="text/javascript">
$(function() {
        $( "#id_created_date" ).datepicker();
        $( "#id_created_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        $( "#id_created_date" ).datepicker( "setDate" , "2011-1-1" );
        $( "#id_end_date" ).datepicker();
        $( "#id_end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
        $( "#id_end_date" ).datepicker( "setDate" , "2011-1-1" );
    });
</script>
{% endblock %}
{% block content %}
<!-- Begin Using Cufon -->
<script type="text/javascript">
			Cufon.replace('.header-title');
			Cufon.replace('.topic-name');    	
</script>
<!-- End Using Cufon -->
<div id="topic-header">
<div class="topic-name"><span class="hide">{% trans "name" %}</span> <span>{% t9n c "name" %}</span></div>

<div class="ne_ui_content_add_button"> 
    <div class="topic-add"> <a class="form_menu" href="questions/add"> {% trans "Add question" %}</a> </div>
    <div class="topic-edit"> <a href="./edit/">{% trans "edit" %}</a></div>
</div>
</div>
<div class="ne_ui_fields">
	
	<div class="top-filter">
    <form method="post">
        {% trans "answer type" %} {{formQuestion.answer_type}} {% trans "created date" %} <input type="text" name="created_date" id="id_created_date" value="{{createddate}}" readonly="readonly"/> 
		<div class="top-filter-2"><input type="text" name="end_date" id="id_end_date" value="{{enddate}}" readonly="readonly"/> {% trans "points" %} {{formQuestion.points}} {% trans "Publish this question" %} <input type="checkbox" name="filterpublished" {% if publish %}checked="true"{% endif %}/><input type="submit" value='{% trans "Filter"%}'></div>
    </form>
</div>

<div><span class="hide">{% trans "name" %}</span> <span>{% t9n c "name" %}</span></div>
<div><span class="hide">{% trans "description" %}</span> <span>{% t9n c "description"%}</span></div>
<div><span class="hide">{% trans "created date" %}</span> <span>{{ c.created_date }}</span></div>
<div><span>{% trans "bonus points" %}</span> - <span>{{ c.bonus_points }}</span></div>
</div><!-- .ne_ui_fields -->

	{% trans "questions" %}:
<div class="ne_ui_subcontent_list">

<div>
	{% for q in questions %}
<div class="ne_ui_content_item {% cycle "col1" "col2" "col3"%}">

<div class="ne_ui_button">
	<div class="header-title">
    	<a href="{{ q.id }}/">{% t9n q "question" %}</a>
    </div> <!-- header-title -->
</div> <!-- ne_ui_button -->

<div class="ne_ui_content_item_data">
<div class="ne_ui_desc"><span>{% trans "answer type" %}:</span><span>&nbsp;{{ q.answer_type }}</span></div>
<div>
    <div class="footer-icons">
        <a href="{{q.id}}/edit/"><img src="/media/img/icon_changelink.gif" title="{% trans "edit" %}"></img></a>
        <span onclick="confirm_delete('./{{q.id}}/remove/', '{%trans "do you really want to delete this item?"%}')">
            <img src="/media/img/icon_deletelink.gif" title="{% trans "delete" %}"></img>
        </span>
        <a href="{{q.id}}/translate"><img src="/media/img/icon_translate.png" title="{% trans "translate" %}"></img></a>
        <a href="#">{%for at in e.get_available_translation_languages %} {{at.code}} {%endfor%}</a>
	</div> <!-- footer-icons -->
<div class="ne_more"><a href="{{ l.alias }}/">More</a></div>
</div>


</div><!-- .ne_ui_content_item_data -->
</div><!-- .ne_ui_content_item -->
    {% endfor %}
</div>
</div><!-- .ne_ui_subcontent_list -->
{% endblock %}
